@use '@shyland-dev/ui/styles' as *;
@use '../styles.scss' as *;

:host {
  color: $color-dark;
}

main {
  position: relative;
  @include fixedHeight(100%);
  @include fixedWidth(100%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  scroll-behavior: smooth;
}

router-outlet {
  display: none;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-medium;
  @include fixedWidth(100%);
  @include fixedHeight($header-height);

  > a {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: calc(#{$responsive-unit} * 12);
    font-family: sans-serif;
    font-weight: bolder;
    color: $color-dark;
    text-decoration: none;
    @include allVendors(transition, all 250ms ease-in-out);

    &:hover {
      color: $color-white;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(#{$responsive-unit} * 5);
    padding: calc(#{$responsive-unit} * 3);
    width: 100%;
    background: $color-primary;

    a {
      font-size: calc(#{$responsive-unit} * 7);
      font-family: sans-serif;
      color: $color-white;
      text-decoration: none;
      @include allVendors(transition, all 250ms ease-in-out);

      &:hover {
        color: $color-success;
      }

      &.active {
        color: $color-warning;
      }

      &.active:hover {
        color: $color-danger;
      }
    }
  }
}

#main-content {
  @include fixedWidth(100%);
  margin-top: $header-height;
  margin-bottom: $footer-height;
  min-height: $default-content-height;
  background: $color-dark;
  overflow: auto;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-medium;
  @include fixedWidth(100%);
  @include fixedHeight($footer-height);

  h2 {
    font-size: calc(#{$responsive-unit} * 7);
    text-align: center;
    font-family: sans-serif;

    #heart {
      color: $color-danger;
    }

    a {
      color: $color-danger;
      font-family: monospace;
      @include allVendors(transition, all 250ms ease-in-out);

      &:hover {
        color: $color-tertiary;
      }
    }
  }
}
