@use '@shyland-dev/ui/styles' as *;

:host {
  display: block;
  color: $color-primary;
  padding: calc(#{$responsive-unit} * 2);
}

button {
  padding: calc(#{$responsive-unit} * 5) calc(#{$responsive-unit} * 6);
  font-size: calc(#{$responsive-unit} * 10);
  font-family: sans-serif;
  color: $color-white;
  background: $color-primary;
  border: none;
  border-radius: calc(#{$responsive-unit} * 2);
  cursor: pointer;
  @include allVendors(transition, background 250ms ease-in-out);

  &:hover {
    background: $color-medium;
  }
}

shy-icon {
  margin: calc(#{$responsive-unit} * 5);
  font-size: calc(#{$responsive-unit} * 15);
  color: $color-danger;
}

shy-select {
  --shySelectHeight: calc(#{$responsive-unit} * 20);
  --shySelectWidth: calc(#{$responsive-unit} * 90);
  --shySelectBorderRadius: calc(#{$responsive-unit} * 2);
  --shySelectBackground: #{$color-black};
  --shySelectColor: #{$color-white};
  --shySelectFontFamily: monospace;
  --shySelectFontSize: calc(#{$responsive-unit} * 6);
  --shySelectIconSize: calc(#{$responsive-unit} * 8);
}
