@use '@shyland-dev/ui/styles' as *;
@use 'sass:color';

:host {
  display: block;
  color: $color-black;
  padding: calc(#{$responsive-unit} * 2);
}

.icons-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: calc(#{$responsive-unit} * 5);

  .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: calc(#{$responsive-unit} * 5);
    background-color: color.adjust($color-danger, $lightness: 32.5%);
    padding: calc(#{$responsive-unit} * 5);
    border-radius: calc(#{$responsive-unit} * 2);
    border-color: $color-danger;
    border-width: calc(#{$responsive-unit} * 1);
    border-style: solid;
    height: calc(#{$responsive-unit} * 50);
    width: calc(#{$responsive-unit} * 45);
    cursor: pointer;
    @include allVendors(transition, all 250ms ease-in-out);

    &:hover {
      background-color: color.adjust($color-danger, $lightness: 20%);
    }

    shy-icon {
      --shyIconSize: calc(#{$responsive-unit} * 17);

      color: $color-danger;
    }

    .icon-name {
      font-size: calc(#{$responsive-unit} * 7.5);
      text-align: center;
    }
  }
}

shy-snackbar {
  --shySnackbarBackground: #{$color-success};
  --shySnackbarColor: #{$color-white};
  --shySnackbarWidth: calc(#{$responsive-unit} * 110);
  --shySnackbarFontFamily: sans-serif;
  --shySnackbarFontSize: calc(#{$responsive-unit} * 7);
  --shySnackbarIconSize: calc(#{$responsive-unit} * 8);
  --shySnackbarOffset: calc(#{$responsive-unit} * 15);
}
