@use '@shyland-dev/ui/styles' as *;
@use 'sass:color';

:host {
  display: block;
  color: $black;
  padding: calc(var(--responsiveUnit) * 1);
}

.icons-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: calc(var(--responsiveUnit) * 1);

  .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: calc(var(--responsiveUnit) * 0.5);
    background-color: color.adjust($danger, $lightness: 32.5%);
    padding: calc(var(--responsiveUnit) * 0.5);
    border-radius: calc(var(--responsiveUnit) * 0.5);
    border-color: $danger;
    border-width: calc(var(--responsiveUnit) * 0.1);
    border-style: solid;
    height: calc(var(--responsiveUnit) * 6);
    width: calc(var(--responsiveUnit) * 5);
    cursor: pointer;
    @include allVendors(transition, all 250ms ease-in-out);

    &:hover {
      background-color: color.adjust($danger, $lightness: 20%);
    }

    shy-icon {
      --shyIconSize: calc(var(--responsiveUnit) * 2);
      color: $danger;
    }

    .icon-name {
      font-size: calc(var(--responsiveUnit) * 0.75);
      text-align: center;
    }
  }
}

shy-snackbar {
  --shySnackbarBg: #{$success};
  --shySnackbarColor: #{$white};
  --shySnackbarMinWidth: calc(var(--responsiveUnit) * 30);
  --shySnackbarMaxWidth: calc(var(--responsiveUnit) * 40);
}
